<mat-card>
    <mat-card-title>Create new account</mat-card-title>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput placeholder="FirstName" formControlName="firstName" >
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="LastName" formControlName="lastName" >
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="userName" >
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Password" formControlName="password" >
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="ConfirmPassword" formControlName="confirmPassword" >
        </mat-form-field>
        <br>

        <button mat-raised-button color="primary" [disabled]="!registerForm.valid" >Register</button>

    </form>
</mat-card>